.navigation {
  margin: 0;

  background: #248232;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

.navigation a {
  text-decoration: none;

  color: white;
  padding: 1em;
  font-weight: normal;
}

/*  Otherwise Navbar will be moved partially above visible space*/
div {
  margin-top: 1em;
}

.selected {
  background: #040F0F;
}

.navigation a:hover {
  background: #040F0F;
}
