<ul class="navigation" *ngIf="display == 'true'">
  <a routerLink="/user/home" queryParamsHandling="preserve">
    <mat-icon>home</mat-icon>
  </a>
  <div *ngFor="let item of feedService.feedList">
    <div *ngIf="item.Selected">
    <a *ngIf="item.Name == feedName; else notSelected" routerLink="/user/overview/{{ item.Name }}" queryParamsHandling="preserve" class="selected"> {{ item.Name }} </a>
    <ng-template #notSelected>
      <a routerLink="/user/overview/{{ item.Name }}" queryParamsHandling="preserve">{{ item.Name }}</a>
      </ng-template>
    </div>
  </div>
  <a style="margin-left: auto" routerLink="/user/settings" queryParamsHandling="preserve">
    <mat-icon>rss_feed</mat-icon>
  </a>
  <a style="margin-left: 0" (click)="logout()">
    <mat-icon>cancel</mat-icon>
  </a>
</ul>
