<div *ngIf="!loading" class="login-grid">
  <form class="floating-box box-subgrid" (keyup.enter)="login(user.value, password.value)">
    <mat-form-field style="grid-column-start: 2; grid-row-start: 1;">
      <input matInput #user placeholder="User">
    </mat-form-field>
    <mat-form-field style="grid-column-start: 2; grid-row-start: 2;">
      <input  matInput #password placeholder="Password" type="password">
    </mat-form-field>
    <button class="button" type="button" mat-button style="grid-column-start:2; grid-row-start: 4;" (click)="login(user.value, password.value)"  >Login</button>
  </form>
</div>
<div *ngIf="loading" class="vertFlexbox">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>
