<div class="login-grid">
  <form *ngIf="!loading" class="floating-box box-subgrid" (keyup.enter)="login(user.value, password.value)">
    <mat-form-field style="grid-column-start: 2; grid-row-start: 1;">
      <input matInput #user placeholder="User">
    </mat-form-field>
    <mat-form-field style="grid-column-start: 2; grid-row-start: 2;">
      <input  matInput #password placeholder="Password" type="password">
    </mat-form-field>
    <button class="button" type="button" mat-button style="grid-column-start:2; grid-row-start: 4;" (click)="login(user.value, password.value)"  >Login</button>
  </form>
  <div *ngIf="loading" class="floating-box box-subgrid">
    <mat-spinner style="grid-column-start:2; grid-row-start:2; justify-self: center;"></mat-spinner>
  </div>
</div>
