<div style="text-align: center; margin-top: 100px" *ngIf="article.images.length != 0">
  Image: {{ current_image +1 }} of {{ article.images.length }}
  <div class="gallery-grid">
    <div class="gallery-item-a" (click)="decrement()" *ngIf="article.images.length > 1">
        <div class="arrow-left"></div>
    </div>
    <figure class="image-container gallery-item-b">
      <img src="{{ article.images[current_image] }}">
      <!--This is dirty at the moment, This offset occurs because images contains only images occuring in the article itself-->
      <figcaption>{{ article.figcaption[current_image +1] }}</figcaption>
    </figure>
    <div class="gallery-item-c" (click)="increment()" *ngIf="article.images.length > 1">
        <div class="arrow-right"></div>
    </div>
  </div>
</div>
