<div>
	<!-- Head of Overview -->
<!--   	<span *ngIf="feed">
  		<h1>{{ feed.feed.title }}</h1>
	</span> -->
	<!-- Section for single articles may be sourced out later on -->
	<ul class="flex-container">
		<li class="flex-item" routerLink="/details/{{ i }}" *ngFor="let article of (feed | articles); let i = index" [attr.data-index]="i">
			<ul class="flex-container-interior">
				<div class="flex-item-interior">
					<h2>{{ article.title }}</h2>
					<h3>by {{ article.author.name }}, {{ article.published | date }} </h3>
					<div class="content">
						{{ (article.description | striptext) }}
					</div>
					<ul class="flex-container-cat">
						<a class="flex-item-cat" routerLink="/tag/{{ category }}" *ngFor="let category of article.categories | slice:0:5">
							{{ category }}
						</a>
					</ul>
				</div>
				<div style="text-align: right;" class="flex-item-interior">
					<img src="{{ images[i] }}">
				</div>
			</ul>
		</li>
	</ul>
</div>
