<div>
	<!-- Head of Overview -->
<!--   	<span *ngIf="feed">
  		<h1>{{ feed.feed.title }}</h1>
	</span> -->
	<ul class="flex-container">
		<li class="flex-item" routerLink="/details/{{ feedName }}/{{ i }}" *ngFor="let article of (feed | articles); let i = index" [attr.data-index]="i">
			<ul class="flex-container-interior">
				<div class="flex-item-interior">
					<h2>{{ article.Title }}</h2>
					<h3>by <fa name="user-o"></fa> {{ article.Author.Name }} <fa name="clock-o"></fa> {{ article.PublishedParsed | date }} </h3>
					<div class="content">
						{{ (article.Description | striptext) }}<br><br>
            <fa name="link"></fa>  <a href="{{ article.Link }}">Visit the page</a>
					</div>
					<ul class="flex-container-cat">
						<a class="flex-item-cat" routerLink="/tag/{{ feedName }}/{{ category }}" *ngFor="let category of article.Categories | slice:0:5">
							{{ category }}
						</a>
					</ul>
				</div>
				<div class="flex-item-interior">
          <div class="thumbnail">
          <img src="{{ images[i] }}">
          </div>
				</div>
			</ul>
		</li>
	</ul>
</div>
