<h1> Articles related to {{ cat }}</h1>
<div>
	<ul class="flex-container">

		<div *ngFor="let article of (feed | articles); let i = index" [attr.data-index]="i">
			<div *ngFor="let category of (article.Categories)">

					<li *ngIf="category == cat" class="flex-item" routerLink="/details/{{ feedName }}/{{ i }}">

						<ul class="flex-container-interior">
							<div class="flex-item-interior">

								<h2>{{ article.Title }}</h2>
								<h3>by {{ article.Author.Name }} {{ article.PublishedParsed | date }} </h3>

								<div class="content">
									{{ (article.Description | striptext) }}
								</div>

								<ul class="flex-container-cat">
									<a class="flex-item-cat" routerLink="/tag/{{ feedName }}/{{ category }}" *ngFor="let category of article.Categories | slice:0:5">
										{{ category }}
									</a>
								</ul>

							</div>
							<div class="flex-item-interior">
                <div class="thumbnail">
                <img src="{{ images[i] }}">
                </div>
							</div>
						</ul>

					</li>

			</div>
		</div>

	</ul>
</div>
