h2 {
	padding-top: 30px;
	padding-left: 30px;
	margin-left: 0px;
}

h3 {
	font-weight: normal;
	font-size: small;
	padding-left: 30px;
	margin-left: 0px;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  left: 20px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.float:hover {
  cursor: pointer;
}

.my-float{
  margin-top:22px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:15px solid white;
  margin-left: 20px;
}

p {
	margin-top: 10px
}

img {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 3px 1px 5px grey;
}

.article-container {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 100px;
	background: #FCFFFC;
  box-shadow: 0 5px 10px #b3c3c3;
}

.image-container {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
  display: block;
}

.content-container {
  padding-right: 30px;
  padding-left: 30px;
}

figure {
	padding-bottom: 20px;
}

figcaption {
	color: grey;
}
