<div *ngIf="article.title">
  <div class="article-container">
    <h2>
			{{ article.title }}
		</h2>
    <h3>
			by: {{ article.author }}, {{ article.published | date }}
		</h3>
    <figure class="image-container">
      <img src="{{ article.thumbnail }}">
      <figcaption>{{ article.figcaption[0] }}</figcaption>
    </figure>
    <p class="content-container" *ngFor="let paragraph of article.content">
			{{ paragraph }}
		</p>
    <app-gallery></app-gallery>
  </div>
</div>
<!-- Not sure if this works as intended, since title is always defined-->
<div *ngIf="article.title == ''">
  <h1 style="text-align: center">
    Loading ...
  </h1>
</div>
<div class="float" (click)="goBack()">
  <div class="arrow-left my-float"></div>
</div>
